<div class="card">
  <div class="card-header">
   <h2> The Super Gossip Project For Real BITCHEEEEEES </h2>
  </div>
</div>

</br>
<h3> Voici nos mails : </h3>
<ul>
	<li> lahoua@gossip.fr </li>
	<li> robin@gossip.fr </li>
	<li> caro@gossip.fr </li>

	
</ul>
